{% extends "layout.njk" %}

{% block head %}
<title>Sobre</title>
{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://image.freepik.com/free-icon/human-skull-with-crossed-bones-silhouette_318-46669.png" alt="Eu" srcset="">
    <h1>
        Phillipe
    </h1>
    <h2>
        Programador full-stack
    </h2>
    <p>Atualmente estudando novas tecnologias <a href="https://github.com/phillrog/launchbase-1.0"  target="_blank">Repositório</a></p>       
</div>
<div id="links-footer" class="links">
    <a href="https://github.com/phillrog" target="_blank">Github</a>
    <a href="https://linkedin.com"  target="_blank">LinkedIn</a>
</div>
{% endblock %}