{% extends "../layout.njk" %}
{% import "parts/card.njk" as card %}

{% block content %}

{% if((orders.length < 1)) %}
     {% call card.render('', 'cart-empty container ')%}
        <p>Nenhum Pedido</p>
        <a href="/products/search" class="button">Compre agora</a>
     {% endcall %}
{% else %}
    {% call card.render('Meus Pedidos', 'orders container')%}

    <div class="items">
        {% for order in orders %}
            <div class="item-container">
                <div class="item">
                
                     {% if not order.product.img  %}
                    <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="Imagem do produto">
                    {% else %}
                    <img src="{{order.product.img}}" 
                    alt="Imagem do produto {{order.product.name}}">
                    {% endif %}
                 
                    <div>
                        <div class="title">{{order.product.name}}</div>
                        <div class="price">{{order.product.formattedPrice}}</div>
                        <div class="updated-at">{{order.formattedUpdatedAt}}</div>
                    </div>
                </div>
                <div class="quantity">
                    Qtd. {{order.quantity}}
                </div>
                <div class="total">
                    {{order.formattedTotal}}
                </div>
                <div class="status {{order.status}}">
                    {{order.formattedStatus}}
                </div>
           
            
            <div class="actions dropdown-container">
                Ações <i class="material-icons">arrow_drop_down</i>  
                    <ul class="dropdown">
                        <li><a href="/orders/{{order.id}}">Ver Pedido</a></li>                        
                    </ul>
                </div>
    </div>
        {% endfor %}
    </div>   

    
    {% endcall %}
{% endif %}
{% endblock content %}